




    <!-- Page Header -->
    <header class="masthead" style="background-image: url('https://static.pexels.com/photos/355904/pexels-photo-355904.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Dizzy's Blog</h1>
              <span class="subheading">My Personal Thoughts</span>
              
              <div class="scroll-downs">
                <a href="#posts">
                <div class="mousey">
                  <div class="scroller"></div>
                </div>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container" id="posts">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <% @posts.each do |post|%>
          <%= link_to post_path(post), class:'link-text' do%>
          <div class="post-preview">
        
              <h2 class="post-title">
                <%= post.title %>
              </h2>
              <h3 class="post-subtitle">
                <%= post.content %>
              </h3>
          <%end%>
            <p class="post-meta">Posted by
              <a href="#">David "Dizzy" Kim</a>
              <%=distance_of_time_in_words(post.created_at, Time.now)%> ago</p>
          </div>
          
          <hr>
            <%end%>
          
        
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>

    <hr>

    




